#train {
  position: relative;
  cursor: pointer;
  left: 0px;
}

.distance{
  /*background-color: pink;*/
  background-color: white;
  height: 50%;
}

.distance-bn-hn{
  /*background-color: brown;*/
  background-color: white;
  height: 50%;
  display: flex;
}
/*-----------------------------------*/
.distance-bn-hn > div.distance-item {
  background-color: black;
  color: white;
  margin: 20px;
  text-align: center;
  line-height: 75px;
  font-size: 25px;
  border-radius: 70%;
  height: 80px;
}

.distance-bn-hn > div.distance-center{
  background-color: white;
  color: dodgerblue;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: calc(1.5rem + 1.76267vmin);
}

.distance-item{
  flex-grow: 1;
  height: 100%;
}

.distance-item > b{
  font-size: calc(0.4rem + 1.76267vmin);
}

.distance-center{
  flex-grow: 4;
}