#train {
  position: relative;
  cursor: pointer;
  left: 0px;
}

.distance{
  /*background-color: pink;*/
  background-color: white;
}

.distance-bn-hn{
  /*background-color: brown;*/
  background-color: white;
  height: 100px;
  display: flex;
}
/*-----------------------------------*/
.distance-bn-hn > div.distance-item {
  background-color: black;
  color: white;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  border-radius: 50%;
  height: 100px;
}

.distance-bn-hn > div.distance-center{
  background-color: white;
  color: dodgerblue;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 45px;
}

.distance-item{
  flex-grow: 1;
}

.distance-center{
  flex-grow: 4;
}