.wrap2 {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 85vmin;
	height: 25em;
	border: 8px solid;
	border-image: linear-gradient(-50deg, #000000, rgb(44, 5, 5)) 1;
	margin: 2rem auto;
	transition: .3s ease-in-out;
	position: relative;
	overflow: hidden;
}
.overlay2 {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	padding: 1rem .75rem;
	background: #000000;
	transition: .4s ease-in-out;
	z-index: 1;
}
.overlay-content2 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 15vmin;
	height: 100%;
	padding: .5rem 0 0 .5rem;
	border: 3px solid;
	border-image: 
    	linear-gradient(
      	to bottom, 
      	#2459ae 5%,
      	rgb(185, 255, 185) 35% 65%,
      	#AEA724 95%
    	) 0 0 0 100%;
	transition: .3s ease-in-out .2s;
	z-index: 1;
}

.image-content-bon {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-image: url("https://ik.imagekit.io/tvlk/blog/2022/02/dia-diem-du-lich-bac-ninh-13.jpg?tr=dpr-2,w-675");
	background-size: cover;
	transition: .3s ease-in-out;
	/* border: 1px solid green; */
}
.image-content-nam {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-image: url("https://ik.imagekit.io/tvlk/blog/2022/02/dia-diem-du-lich-bac-ninh-22.jpg?tr=dpr-2,w-675");
	background-size: cover;
	transition: .3s ease-in-out;
	/* border: 1px solid green; */
}
.image-content-sau {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-image: url("https://ik.imagekit.io/tvlk/blog/2022/02/dia-diem-du-lich-bac-ninh-2-819x1024.jpg?tr=dpr-2,w-675");
	background-size: cover;
	transition: .3s ease-in-out;
	/* border: 1px solid green; */
}
/*-----------------------------------*/
.image-content-bay {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-image: url("https://ik.imagekit.io/tvlk/blog/2022/02/dia-diem-du-lich-bac-ninh-10.jpg?tr=dpr-2,w-675");
	background-size: cover;
	transition: .3s ease-in-out;
	/* border: 1px solid green; */
}

.image-content-tam {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-image: url("https://ik.imagekit.io/tvlk/blog/2022/02/dia-diem-du-lich-bac-ninh-9-1024x597.jpg?tr=dpr-2,w-675");
	background-size: cover;
	transition: .3s ease-in-out;
	/* border: 1px solid green; */
}
/*------------------------------*/
.wrap2:hover .overlay2
 {
	transform: translateX(-60vmin);
}
.wrap2:hover .image-content {
	width: 30vmin;
}
.wrap2:hover .overlay-content2 {
	border: none;
	transition-delay: .2s;
	transform: translateX(60vmin);
}    

.wrap2:hover .dots {
	transform: translateX(1rem);
}
.wrap2:hover .dots .dot {
	background: white;
}